asgiref==3.7.2
certifi==2023.7.22
crispy-bootstrap4==2022.1
distlib==0.3.7
dj-database-url==2.1.0
Django==3.2.19
django-crispy-forms==2.0
filelock==3.12.4
gunicorn==21.2.0
packaging==23.2
Pillow==10.0.1
pipenv==2023.10.20
platformdirs==3.11.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.8.0
virtualenv==20.24.5
